*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-size: 1.5rem;
  text-transform: uppercase;
}
p{
  font-size: 0.8rem;
}
#header{
  background: url("../MULTIMEDIA/louis-hansel-U6-KvV7HlMk-unsplash\ 1.png");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
nav{
  background-color: rgba(0, 0, 0, 0.822);
  display: flex;
  padding:2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all .3s;
}
.sticky {
  padding:1rem;
  background-color: rgba(0, 0, 0, 0.822);
  position: fixed;
  width: 100%;
  top: 0;
}
.sticky .boton_hamburguesa {
  box-shadow: none;
  background-color: transparent;
  color: white;
}
nav ul{
  display: none;
}
nav figure{
  width: 80%;
  display: flex;
}
nav figure img{
  width: 4rem;
  cursor: pointer;
  /*MEDIDAS BIG
  width: 7rem;
  height: 7rem; */
}
nav li a{
  line-height: 2rem;
  margin: 0.5rem 0;
  color: white;
  padding: 0.5rem;
  transition: all .5s;
  font-size: 0.8rem;
  text-transform: uppercase;
}
nav li a:hover{
  color: #382E0B;
  transition: .3s ease-in-out;
}
.boton_hamburguesa {
  font-size: 1.5rem;
  padding: 0.5rem;
  height: 3rem;
  border-color:white;
  border:solid;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  box-shadow: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-align: center;
}
.boton_hamburguesa:hover{
  background-color: white;
  color: black;
  transition: all .3s ease-in-out;
}
#check{
  display: none;
}
#check:checked ~ .nav-main {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#check:checked ~ .nav-main li{
  padding: 0.5rem;
}
#banner{
  width: 100%;
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: flex-end;
}
#banner i{
  color: white;
  cursor: pointer;
  font-size: 2rem;
}
/* ------- */
.Sin_fondo{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 2.5rem;
  padding-right:2.5rem;
  padding-bottom: 4rem;
  width: 100%;
}
.Sin_fondo figure{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.Sin_fondo figure img{
  width: 100%;
  object-fit: cover;
  height: 40vh;
}
#Conocenos{
  padding-top: 3rem;
}
#Conocenos h3{
  text-align: center;
  margin-bottom: 1.5rem;
}
#Conocenos .content{
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-bottom: 1.5rem;
}
.autor{
  text-align: right;
  font-size: 0.7rem;
}
.firma{
  text-align: right;
  font-size: 0.6rem;
  color: grey;
}
/* ------- */
#Thebest{
  background-image: url('../MULTIMEDIA/food.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  padding-bottom: 2rem;
}
#Thebest h3{
  text-align: center;
  padding: 1.5rem;
  color: white;
}
#Thebest h3 hr{
  color: white;
}
.food{
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  background-color:#f4e9ba;
  padding: 0.3rem;
  margin:1rem;
  width: 50%;

}
.card figure{
  width: 100%;
}
.card figure img{
  width: 100%;
  object-fit: cover;
}
.card p{
  text-align: center;
  color:black;
}
/* ------- */
#servicios h3{
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
#servicios p{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 0.7rem;
  line-height: 1.2rem;
}
/* ----- */
#Comentarios{
  background-image: url('../MULTIMEDIA/comentarios.jpg') ;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  padding-bottom: 2rem;
}
#Comentarios .food{
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  align-items: center;
  line-height: 1.5rem;
}
#Comentarios .card{
  background-color:transparent;
  padding: 0.3rem;
  margin-right:1rem;
  width: 80%;
  padding-bottom: 2rem;
}
#Comentarios .card figure img{
  border: solid;
  border-radius: 9rem;
  border-width: 0;
}
#Comentarios .texto3{
  text-align: center;
}
.texto3 p{
  color: white;
  text-transform: uppercase;
}
/* ------ */
.texto4{
  text-align: center;
}
.texto4 h3{
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.formulario{
  margin-top: 1.5rem;
  line-height: 1.5rem;
  cursor: pointer;
}
#Reservacion{
  padding-top:3rem ;
}
#Reservacion form{
  background-color: #382E0B;
  display:none;
  flex-wrap: wrap;
  justify-content:space-evenly;
  padding: 0.5rem;
}
#Reservacion form input{
  margin: 0.5rem;
  width: 10rem;
}
#Reservacion form button{
  background:none;
  color: white;
  border-radius: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

}
button:hover{
  background-color: black;
  transition: all .3s ease-in-out;
}
/* ---------- */
/* Iconos */
.phone::before{
  content: '\f87b';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding-right: 0.2rem;
  
}
.mail::before{
  content: '\f0e0';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding-right: 0.2rem;
}
.clock::before{
  content: '\f017';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding-right: 0.2rem;
}
.location::before{
  content: '\f3c5';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding-right: 0.2rem;
}
footer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.contact{
  padding: 1rem;
  width: 100%;
  background: url('../MULTIMEDIA/footer.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
}
.contact ul{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.contact li{
  color: white;
  text-align: center;
  line-height:1.5rem;
  font-size: 0.8rem;
}
.icon{
  text-align: center;
  padding-bottom: 2rem;
}
.icon i{
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1rem;
}
.allright{
  background-color: black;
  width: 100%;
  padding: 1rem;
}
footer figure{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer figure img{
  width: 50%;
}
.allright p{
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 0.6rem;
  text-transform: uppercase;
}
/* Responsive */
@media screen and (min-width:700px){
  #banner{
    height: 80vh;
  }
  h3{
    font-size: 2rem;
  }
  p{
    font-size: 0.9rem;
  }
  #Conocenos .content{
    font-size: 0.95rem;
    line-height: 1rem;
  }
  .autor{
    font-size: 0.7rem;
  }
  .firma{
    font-size: 0.6rem;
  }
  #servicios>h3{
    font-size: 2.5rem;
  }
  #servicios p{
    font-size: 0.85rem;
    line-height: 1.5rem;
    text-align: justify;
  }
  #Comentarios .card{
    width:60%;
  }
  #Comentarios .card p{
    font-weight: 900;
  }
  .texto4 h3{
    font-size: 2rem;
  }
  #Reservacion form input{
    font-size: 0.9rem;
  }
  #Reservacion hr{
    margin-top: 0.5rem;
  }
  #Reservacion form button{
    margin: 0.8rem;
    font-size: 1rem;
  }
  .contact li{
    font-size: 1rem;
  }
  .icon i{
    font-size: 2rem;
  }
}
@media screen and (min-width:768px){
  .boton_hamburguesa{
    display: none;
  }
  nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  nav figure{
    width: 100%;
    justify-content: center;
    padding: 0;
  }
  h3{
    font-size: 2.5rem;
  }  
  p{
    font-size: 1.2rem;
  }
  .Sin_fondo{
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
  }
  #Conocenos div{
    width: 100%;
  }
  #Conocenos .content{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.5rem;
    text-align: justify;
  }
  .autor{
    font-size: 0.8rem;
  }
  .firma{
    font-size: 0.7rem;
  }
  .card{
    width: 30%;
  }
  #servicios>h3{
    margin-top: 4rem;
    font-size: 3rem;
  }
  #servicios p{
    margin: 1rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  #Comentarios .food{
    justify-content: center;
  }
  #Comentarios .card{
    width:40%;
  }
  #Comentarios .card p{
    font-weight: 950;
  }
  #Reservacion{
    justify-content: space-evenly;
  }
  .texto4{
    margin-left: 1.5rem;
    line-height: 2rem;
  }
  .texto4 h3{
    font-size: 2.5rem;
    font-weight: 250;
  }
  #Reservacion form input{
    font-size: 1rem;
  }
  #Reservacion form button{
    margin: 1rem;
    font-size: 0.8rem;
  }
  .contact{
    width: 50%;
  }
  .allright{
    width: 50%;
  }
  
}