*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#header{
  background: url("/MULTIMEDIA/louis-hansel-U6-KvV7HlMk-unsplash\ 1.png");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
nav{
  background-color: rgba(0, 0, 0, 0.822);
  display: flex;
  padding:2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  transition: all .3s;
}
nav ul{
  display: none;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
nav figure{
  width: 80%;
  display: flex;
}
nav figure img{
  width: 4rem;
  /*MEDIDAS BIG
  width: 7rem;
  height: 7rem; */
}
nav li a{
  line-height: 2rem;
  margin: 0.5rem 0;
  color: white;
  padding: 0.5rem;
  transition: all .5s;
  font-size: medium;
  text-transform: uppercase;
}
nav li a:hover{
  color: #382E0B;
  transition: .3s ease-in-out;
}
.boton_hamburguesa {
  font-size: 1.5rem;
  padding: 0.5rem;
  height: 3rem;
  border-color:white;
  border:solid;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  box-shadow: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-align: center;
}
.boton_hamburguesa:hover{
  background-color: white;
  color: black;
  transition: all .3s ease-in-out;
}
#check{
  display: none;
}
#check:checked ~ .nav-main {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#check:checked ~ .nav-main li{
  padding: 0.5rem;
}
.Sin_fondo{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-left: 2.5rem;
  padding-right:2.5rem;
  padding-bottom: 4rem;
  width: 100%;
}
.Sin_fondo figure{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.Sin_fondo figure img{
  width: 100%;
  object-fit: cover;
}

#Thebest{
  background-image: url('/MULTIMEDIA/food.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  padding-bottom: 2rem;
}
#Thebest h3{
  /* estilos de la palabra */
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
}
.food{
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
}
.card{
  background-color: yellowgreen;
  padding: 0.3rem;
  margin-right:1rem;
  width: 40%;
}
#Thebest figure{
  width: 100%;
}
#Thebest figure img{
  width: 100%;
  object-fit: cover;
}